<section class="contact section" id="contact">
    <h2 class="section-title">Contact</h2>

    <div class="contact__container bd-grid">
        <form action="#" class="contact__form">
            <input type="text" placeholder="Your Name" class="contact__input">
            <input type="email" placeholder="Your Email" class="contact__input">
            <textarea placeholder="Your Message" class="contact__input"></textarea>
            <input type="submit" value="Send Message" class="contact__button button">
        </form>
    </div>
</section>
